body {
    background-color: #e4e4e4;
    font-family: 'Segoe UI';
    margin: 0;
}

.header {
    background-color: #3a3a3a;
    width: 100%;
    height: 50px;
    color: #ffffff;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header ul > li {
    float: left;
    margin-right: 20px;
    height: 30px;
    line-height: 35px;
    padding: 10px;
}

.header ul > li > a
{
    color: #ffffff;
    text-decoration: none;
}

.header ul > li:hover {
    cursor: pointer;
    background-color: #676767;
}
.container {
    padding: 20px;
    margin: 0 auto;
    width: 900px;
}
.movie-list .movie {
    float: left;
    margin: 10px;
    border: 3px solid #fefefe;
    border-radius: 10px;
    overflow: hidden;
}
.movie-list .movie:hover
{
    border: 3px solid #680f0f;
    cursor: pointer;
}
.movie-list .poster{
    width: 120px;
    height: 160px;
}

.container .search{
    height: 50px;
}

.container .search input {
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    padding: 10px;
    border: 1px solid #f3f3f3;
    outline: none;
    border-radius: 10px;
}