@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ayarlar
        </button>
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button">Tema</button></li>
            <li><button class="dropdown-item" type="button">Gizlilik</button></li>
            <li><button class="dropdown-item" type="button">Hesap</button></li>
        </ul>
    </div>
</div>
