@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba Web</h1>
    <p>Artık çalışmalarımız http aracılığı ile size ulaşacak.</p>
</div>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Teknik Kurslar</h3>
            <p>C#, Java, AutoCad ve diğer yazılım kursları</p>
        </div>
        <div class="col-md-4">
            <h3>Yabancı Dil</h3>
            <p>İngilizce, Almanca, Fransız</p>
        </div>
        <div class="col-md-4">
            <h3>Robotik Kodlama</h3>
            <p>15 yaş altı çocuklar için kurslar</p>
        </div>
    </div>
</div>